/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env
/log
figwheel_server.log
resources/docs/docs.md
resources/public/js/autosize.min.js
config/config.clj
resources/public/*.gv
resources/public/*.svg
resources/public/js/viz-lite.js
resources/public/js/wordcloud2.js
data/model/segment/CRFSegmentModel.txt.bin
*.pyc
*.pdf
*.txt
resources/public/qrcode/*.png
test.htm

